<h3 class="row">
  <div class="col-xs-6">
    {{title}}
  </div>
  <div class="col-xs-4">
    <div class="buttons pull-right">
      <button *ngIf="!editor.entity" type="button" class="btn" (click)="create()">New</button>
      <button *ngIf="editor.entity" type="button" class="btn" (click)="save()">Save</button>
      <button *ngIf="editor.entity" type="button" class="btn" (click)="cancel()">Cancel</button>
      <button type="button" class="btn" (click)="refresh()">Refresh</button>
    </div>
  </div>
</h3>
<div class="row">
  <div class="col-xs-8">
    <ng-template edit-form></ng-template>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <items-list [columns]="getColumns()" [items]="items" (sort)="onSort($event)" (edit)="onEdit($event)" (delete)="onDelete($event)"></items-list>
  </div>
</div>