<h3 class="row">
  <div class="col-xs-8">
    Projects
  </div>
  <div class="col-xs-4">
    <button *ngIf="!editor.project" type="button" class="btn" (click)="create()">New</button>
    <button *ngIf="editor.project" type="button" class="btn" (click)="save()">Save</button>
    <button *ngIf="editor.project" type="button" class="btn" (click)="cancel()">Cancel</button>
    <button type="button" class="btn" (click)="refresh()">Refresh</button>
  </div>
</h3>
<div class="row">
  <form class="col-xs-8">
    <ng-template edit-form></ng-template>
  </form>
</div>
<div class="row">
  <ul class="data-list">
    <li *ngFor="let project of projects">
      <div class="col-xs-8">
        <ng-template list-item></ng-template>
      </div>
      <div class="buttons col-xs-4">
        <button type="button" class="btn-xs" (click)="edit(project)">Edit</button>
        <button class="btn btn-xs btn-default" (click)="delete(project)">Del</button>
      </div>
    </li>
  </ul>
</div>