<div *ngIf="item" class="row">
    <div class="col-md-2">
        <span>{{item.projectName}}</span>
    </div>
    <div class="col-md-3">
        <span>{{item.taskName}}</span>
    </div>
    <div class="col-md-2">
        <span>{{getStateName(item.state)}}</span>
    </div>
    <div class="col-md-3">
        <span>{{item.created}}</span>
    </div>
    <div class="col-md-1">
        <span>{{item.plannedHours}}</span>
    </div>
    <div class="col-md-1">
        <span>{{item.actualHours}}</span>
    </div>
</div>