<div class="row">
    <div class="col-md-4">

        <button type="button" class="btn btn-default btn-sm">
            <b>Name</b>
            <i class="fa fa-lg fa-angle-down" aria-hidden="true"></i>
        </button>
    </div>
    <div class="col-md-3">
            <button type="button" class="btn btn-xs">
                    <span>State</span>
                    
                </button>
    </div>
    <div class="col-md-3">
        <span>Created</span>
    </div>
    <div class="col-md-1">
        <span>Planned</span>
    </div>
    <div class="col-md-1">
        <span>Actual</span>
    </div>
</div>